<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/esyui/themes")
     
     @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kessy")
    @Scripts.Render("~/bundles/easyui")
</head>
<body>
    <header >
        <div class="head-wrapper">
            <div class="ui-grid-row ">
                <div class="ui-grid-5" ><a href="/" class="logo-font">爱游游</a></div>
                <div class="ui-grid-20 sr-nav-wrapper"> 
                    <div class="sr-nav">
                        <ul><li>
                                <a href="Http://www.baidu.com" class="sr-nav-sle">首页</a>
                            </li>
                            <li>
                                <a href="Http://www.baidu.com">景点</a>
                            </li>
                             <li>
                                <a href="Http://www.baidu.com">推介</a>
                            </li>
                            <li>
                                <a href="Http://www.baidu.com">游记</a>
                            </li>
                             <li>
                                <a href="Http://www.baidu.com">锦囊</a>
                            </li>
                             <li>
                                <a href="Http://www.baidu.com">问答</a>
                            </li>
                        </ul> 
                    </div>
                </div>
            </div>
        </div>
    </header>

    @RenderBody()

   
    @RenderSection("scripts", required: false)
    <div class="sr-foot" >
        <div class="foot-wrapper">
           <div class="ui-grid-row ">
               <div class="ui-grid-4">4</div>
               <div class="ui-grid-6">6</div>
               <div class="ui-grid-8">8</div>
               <div class="ui-grid-7">7</div>
           </div>
       </div>
    </div>
</body>
</html>
